<%= flash[:notice] %>

<div class="crud-actions">
  <%= link_to('Edit This Question', edit_question_path(@question)) %>
  <%= link_to('Delete This Question', @question, method: :delete) %>
  <%= link_to('Answer This Question', new_question_answer_path(@question)) %>
  <%= link_to('See All Answers', question_answers_path(@question)) %>
</div>

<h2>
  <%= @question.title %>
</h2>
<%= @question.description %><br><br>


<h4>
  Recent Answers
</h4>

<% @question.answers.each do |answer| %>
  <%= answer.description %><br>
<% end %>
